DB_URL=postgresql+asyncpg://dbuser:pass123@127.0.0.1/cplabdb
TOKEN_URL=http://keycloak:8080/realms/cloudplatforms/protocol/openid-connect/token
AUTH_URL=http://keycloak:8080/realms/cloudplatforms/protocol/openid-connect/auth
REFRESH_URL=http://keycloak:8080/realms/cloudplatforms/protocol/openid-connect/auth
CERT_URL=http://keycloak:8080/realms/cloudplatforms/protocol/openid-connect/certs